services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=100
      - WEBUI_PORT=80
    volumes:
      - /messier/apps/qbittorrent:/config
      - /downloads:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.docker.allowNonRunning=true"
      - "traefik.http.routers.qbittorrent.rule=Host(`torrent.${DOMAIN}`)"
      - "traefik.http.routers.qbittorrent.entrypoints=https"
      - "traefik.http.routers.qbittorrent.tls=true"
      - "traefik.http.routers.qbittorrent.tls.certresolver=${CERTRESOLVER:+${CERTRESOLVER}}"
      - "traefik.http.routers.qbittorrent.service=qbittorrent"
      - "traefik.http.routers.qbittorrent.middlewares=secure-headers@docker,authelia@docker"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=80"
    ports:
      - "6881:6881/tcp"
      - "6881:6881/udp"
    networks:
      - virgo
    restart: unless-stopped

networks:
  virgo:
    external: true
