services:
  runner:
    image: gitea/act_runner:latest
    environment:
      - GITEA_INSTANCE_URL=${GITEA_INSTANCE_URL}
      - GITEA_RUNNER_NAME=runner
      - GITEA_RUNNER_REGISTRATION_TOKEN=${RUNNER_REGISTRATION_TOKEN}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /messier/apps/gitea-runner/data:/data
    networks:
      - virgo
    restart: unless-stopped

networks:
  virgo:
    external: true
