services:
  pcp:
    image: ghcr.io/performancecopilot/pcp:latest
    network_mode: host
    environment:
      - PUID=1000
      - PGID=100
      - KEY_SERVERS=127.0.0.1:6380
    volumes:
      - /etc/machine-id:/etc/machine-id:ro
      - /messier/apps/pcp/data:/var/log/pcp
      - /messier/apps/pcp/pmlogger:/var/log/pcp/pmlogger
      - /messier/apps/pcp/pmproxy:/var/log/pcp/pmproxy
    depends_on:
      - redis
    privileged: true
    restart: unless-stopped

  redis:
    image: redis:latest
    environment:
      - PUID=1000
      - PGID=100
    volumes:
      - /messier/apps/pcp/redis:/data
    ports:
      - "127.0.0.1:6380:6379"
    networks:
      - virgo
    restart: unless-stopped

networks:
  virgo:
    external: true
