services:
  pcp:
    image: ghcr.io/performancecopilot/pcp:latest
    network_mode: host
    environment:
      - PUID=1000
      - PGID=100
      - KEY_SERVERS=127.0.0.1:6379
    volumes:
      - /etc/machine-id:/etc/machine-id:ro
      - /messier/apps/pcp/data:/var/log/pcp
    privileged: true
    restart: unless-stopped
