services:
  pihole-init:
    image: alpinelinux/docker-cli:latest-aarch64
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        echo "address=/${DOMAIN}/${HOST_IP}" > /config/univrs.conf
        touch /config/.init_complete; \
        sleep 10; \
        rm -f /config/.init_complete; \
        docker rm -f $(hostname)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /messier/apps/pihole/dnsmasq.d:/config
    networks:
      - virgo
    restart: "no"
    healthcheck:
      test: "[ -f /config/.init_complete ]"
      interval: 1s
      timeout: 1s
      retries: 30
      start_period: 1s

  pihole:
    image: mpgirro/pihole-unbound:latest
    environment:
      - TZ=Europe/Bucharest
      - PIHOLE_UID=1000
      - PIHOLE_GID=100
      - FTLCONF_dns_listeningMode=ALL
      - FTLCONF_misc_etc_dnsmasq_d=true
      - FTLCONF_misc_dnsmasq_lines=dhcp-option=6,${HOST_IP}
      - FTLCONF_dns_domain=univrs
      - FTLCONF_dns_upstreams=127.0.0.1#5335;127.0.0.1#5335
      - FTLCONF_dhcp_active=${DHCP_ACTIVE}
      - FTLCONF_dhcp_start=${DHCP_START}
      - FTLCONF_dhcp_end=${DHCP_END}
      - FTLCONF_dhcp_router=${DHCP_ROUTER}
      - FTLCONF_dhcp_rapidCommit=true
      - FTLCONF_webserver_api_password=${PASSWORD}
    volumes:
      - /messier/apps/pihole/data:/etc/pihole
      - /messier/apps/pihole/logs:/var/log/pihole
      - /messier/apps/pihole/dnsmasq.d:/etc/dnsmasq.d
    labels:
      - "traefik.enable=true"
      - "traefik.docker.allowNonRunning=true"
      - "traefik.http.routers.pihole.rule=Host(`pihole.${DOMAIN}`)"
      - "traefik.http.routers.pihole.entrypoints=https"
      - "traefik.http.routers.pihole.tls.certresolver=${CERTRESOLVER:+${CERTRESOLVER}}"
      - "traefik.http.routers.pihole.service=pihole"
      - "traefik.http.routers.pihole.middlewares=pihole-slash-redirect@docker,secure-headers@file,authelia@file"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
      - "traefik.http.middlewares.pihole-slash-redirect.redirectregex.regex=^https?://[^/]+/?$$"
      - "traefik.http.middlewares.pihole-slash-redirect.redirectregex.replacement=https://pihole.${DOMAIN}/admin/"
      - "traefik.http.middlewares.pihole-slash-redirect.redirectregex.permanent=false"
    ports:
      - "${HOST_IP}:53:53/tcp"
      - "${HOST_IP}:53:53/udp"
      - "5335:5335/tcp"
    networks:
      virgo:
        ipv4_address: 172.30.0.2
    cap_add:
      - NET_ADMIN
    depends_on:
      pihole-init:
        condition: service_healthy
      dhcphelper:
        condition: service_started
    restart: always

  dhcphelper:
    image: homeall/dhcphelper:latest
    network_mode: host
    environment:
      IP: 172.30.0.2
    cap_add:
      - NET_ADMIN
    restart: always

networks:
  virgo:
    external: true
