services:
  traefik-init:
    image: alpinelinux/docker-cli:latest-aarch64
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        wget -O /config/traefik.yml https://apps.univrs.cloud/traefik/config/traefik.yml; \
        wget -O /config/local-service.yml https://apps.univrs.cloud/traefik/config/local-service.yml; \
        touch /config/.init_complete; \
        sleep 10; \
        rm -f /config/.init_complete; \
        docker rm -f $(hostname)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /messier/apps/traefik/config:/config
    networks:
      - virgo
    restart: "no"
    healthcheck:
      test: "[ -f /config/.init_complete ]"
      interval: 1s
      timeout: 1s
      retries: 30
      start_period: 1s
  
  traefik:
    image: traefik:latest
    environment:
      - PUID=1000
      - PGID=100
      - TZ=Europe/Bucharest
      - DOMAIN=${DOMAIN}
      - CERTRESOLVER=${CERTRESOLVER}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /messier/apps/traefik/config:/etc/traefik/config
      - /messier/apps/traefik/letsencrypt:/letsencrypt
    command:
      # Global
      - "--global.sendAnonymousUsage=false"
      - "--global.checkNewVersion=false"
      # API and Dashboard
      - "--api.dashboard=true"
      - "--api.insecure=false"
      # EntryPoints
      #- "--entrypoints.ssh.address=:22"
      - "--entrypoints.http.address=:80"
      - "--entrypoints.http.http.middlewares=default-ratelimit@file"
      - "--entrypoints.https.address=:443"
      - "--entrypoints.https.http.tls=true"
      - "--entrypoints.https.http.middlewares=default-ratelimit@file"
      - "--entrypoints.https.http3=true"
      - "--entrypoints.https.http3.advertisedPort=443"
      - "--entryPoints.https.forwardedHeaders.insecure=false"
      - "--entryPoints.https.forwardedHeaders.trustedIPs=10.6.0.0/16,172.0.0.0/8,192.168.0.0/16"
      # Disable upstream HTTPS certificate checks (https > https)
      - "--serversTransport.insecureSkipVerify=true"
      # Providers
      - "--providers.docker=true"
      - "--providers.docker.network=virgo"
      - "--providers.docker.exposedByDefault=false"
      - "--providers.file.watch=true"
      - "--providers.file.directory=/etc/traefik/config" 
      # ACME (Let's Encrypt)
      - "--certificatesResolvers.le.acme.email=${EMAIL}"
      - "--certificatesResolvers.le.acme.storage=/letsencrypt/acme.json"
      - "--certificatesResolvers.le.acme.httpChallenge=true"
      - "--certificatesResolvers.le.acme.httpChallenge.entrypoint=http"
    labels:
      - "traefik.enable=true"
      # Special router for Let's Encrypt HTTP challenge
      - "traefik.http.routers.acme-challenge.rule=PathPrefix(`/.well-known/acme-challenge/`)"
      - "traefik.http.routers.acme-challenge.entrypoints=http"
      - "traefik.http.routers.acme-challenge.priority=100"
      - "traefik.http.routers.acme-challenge.service=noop@internal"
      # HTTP to HTTPS redirect router - lower priority (10) than the ACME router
      - "traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)"
      - "traefik.http.routers.http-catchall.entrypoints=http"
      - "traefik.http.routers.http-catchall.priority=10"
      - "traefik.http.routers.http-catchall.middlewares=https-redirect@file"
      - "traefik.http.routers.http-catchall.service=noop@internal"
      # Dashboard configuration only
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${DOMAIN}`)"
      - "traefik.http.routers.dashboard.entrypoints=https"
      - "traefik.http.routers.dashboard.tls.certresolver=${CERTRESOLVER:+${CERTRESOLVER}}"
      - "traefik.http.routers.dashboard.middlewares=secure-headers@file,authelia@file"
      - "traefik.http.routers.dashboard.service=api@internal"
    ports:
      - "80:80"
      - "443:443/tcp"
      - "443:443/udp"
    networks:
      - virgo
    depends_on:
      traefik-init:
        condition: service_healthy
    restart: always

networks:
  virgo:
    external: true
