services:
  nextcloud-turn:
    image: coturn/coturn:latest
    container_name: nextcloud-turn
    command:
      - "--realm=turn.${DOMAIN}"
      - "--listening-ip=0.0.0.0"
      - "--listening-port=3478"
      - "--no-tls"
      - "--no-dtls"
      - "--static-auth-secret=${SECRET}"
      - "--use-auth-secret"
    labels:
      - "traefik.enable=true"
      - "traefik.udp.routers.turn.entrypoints=turn-udp"
      - "traefik.udp.routers.turn.service=turn"
      - "traefik.udp.services.turn.loadbalancer.server.port=3478"
      - "traefik.tcp.routers.turn.rule=HostSNI(`turn.${DOMAIN}`)"
      - "traefik.tcp.routers.turn.entrypoints=https"
      - "traefik.tcp.routers.turn.tls=true"
      - "traefik.tcp.routers.turn.tls.certresolver=${CERTRESOLVER:+${CERTRESOLVER}}"
      - "traefik.tcp.routers.turn.service=turn"
      - "traefik.tcp.services.turn.loadbalancer.server.port=3478"
    networks:
      - virgo
    restart: unless-stopped

networks:
  virgo:
    external: true
