services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    environment:
      - PUID=1000
      - PGID=100
      - DOCKER_MODS=linuxserver/mods:universal-package-install|linuxserver/mods:nextcloud-notify-push|linuxserver/mods:nextcloud-memories
      - INSTALL_PACKAGES=nodejs|npm
      - NODEJS_MOD_VERSION=22
    volumes:
      - /messier/apps/nextcloud/config:/config
      - /messier/apps/nextcloud/data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.docker.allowNonRunning=true"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.${DOMAIN}`)"
      - "traefik.http.routers.nextcloud.entrypoints=https"
      - "traefik.http.routers.nextcloud.tls.certresolver=${CERTRESOLVER:+${CERTRESOLVER}}"
      - "traefik.http.routers.nextcloud.service=nextcloud"
      - "traefik.http.routers.nextcloud.middlewares=secure-headers@file"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=443"
      - "traefik.http.services.nextcloud.loadbalancer.server.scheme=https"
      - "traefik.http.services.nextcloud.loadbalancer.serversTransport=insecure-transport@file"
    networks:
      - internal
      - virgo
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started
    restart: unless-stopped

  db:
    image: lscr.io/linuxserver/mariadb:latest
    environment:
      - PUID=1000
      - PGID=100
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_ROOT_PASSWORD=nextcloud
    volumes:
      - /messier/apps/nextcloud/db:/config
    networks:
      - internal
    restart: unless-stopped

  redis:
    image: redis:latest
    environment:
      - PUID=1000
      - PGID=100
    volumes:
      - /messier/apps/nextcloud/redis:/data
    networks:
      - internal
    restart: unless-stopped

networks:
  internal:
    internal: true
  virgo:
    external: true
