services:
  ddclient:
    image: lscr.io/linuxserver/ddclient:latest
    environment:
      - PUID=1000
      - PGID=100
    volumes:
      - /messier/apps/ddclient:/config
    networks:
      - virgo
    restart: unless-stopped

networks:
  virgo:
    external: true
