services:
  nextcloud-coturn:
    image: coturn/coturn:latest
    container_name: nextcloud-coturn
    command:
      - "--realm=coturn.${DOMAIN}"
      - "--listening-ip=0.0.0.0"
      - "--listening-port=3478"
      - "--no-tls"
      - "--no-dtls"
      - "--static-auth-secret=${SECRET}"
      - "--use-auth-secret"
    labels:
      - "traefik.enable=true"
      - "traefik.udp.routers.coturn.entrypoints=coturn-udp"
      - "traefik.udp.routers.coturn.service=coturn"
      - "traefik.udp.services.coturn.loadbalancer.server.port=3478"
      - "traefik.tcp.routers.coturn.rule=HostSNI(`coturn.${DOMAIN}`)"
      - "traefik.tcp.routers.coturn.entrypoints=https"
      - "traefik.tcp.routers.coturn.tls=true"
      - "traefik.tcp.routers.coturn.tls.certresolver=${CERTRESOLVER:+${CERTRESOLVER}}"
      - "traefik.tcp.routers.coturn.service=coturn"
      - "traefik.tcp.services.coturn.loadbalancer.server.port=3478"
    networks:
      - virgo
    restart: unless-stopped

networks:
  virgo:
    external: true
